rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'judahk065@gmail.com';
    }

    match /portfolio/{itemId}/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /inquiries/{fileName} {
      allow write: if true;
      allow read: if isAdmin();
    }
  }
}